{% extends "base.html" %} {% block title %}Login Page {% endblock %} {% block
content %}
<div class="login-bos"></div>
<h2>Login</h2>
<form method="POST">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" required />
  </div>
  <div>
    <label for="password">Password </label>
    <input type="password" name="password" id="password" required />
  </div>

  <button type="submit" class="btn">Login</button>
</form>
{% endblock %}
